.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.text {
    max-width: 80%; /* Adjust as needed */
    margin-top: 20px; /* Adjust as needed */
    text-align: center; /* Centers the text horizontally */
}

h1, p, i {
    font-family: Poppins;
    color: #DC071B
}


